body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-repeat: no-repeat;
  background-image: url("assets/images/background.jpg");
  background-size: cover;
}
body, a:link, a:visited, a:active{
  color: yellow;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
  font-family: "Arial";
}

.topbar {
  color: white;
}

.dancer{
  /*border:10px solid green;*/
  /*border-radius:10px;*/
  position:absolute;
}

img {
  width: 150px;
  height: 150px;
}

.llama {
  animation-duration: 5s;
  animation-name: slideleft
}

@keyframes slideleft {
  from {
    margin-left: 100%;
    /*width: 300%; */
  }

  to {
    margin-left: 0%;
    /*width: 100%;*/
  }
}